<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Restaurant Reservation{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
  </head>
  <body>
    <nav class="navbar is-light">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">ResoApp</a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('restaurants') }}"
            >Restaurants</a
          >
        </div>
        <div class="navbar-end">
          {% if session.get('user') %} {# Hiển thị các liên kết chung cho người
          dùng đã đăng nhập #}
          <a class="navbar-item" href="{{ url_for('profile') }}"
            >{{ session.get('name') }}</a
          >

          {% if session.get('role') == 'customer' %} {# Chỉ hiển thị liên kết
          này cho Customer #}
          <a class="navbar-item" href="{{ url_for('bookings') }}"
            >My Bookings</a
          >
          {% elif session.get('role') == 'admin' %} {# Chỉ hiển thị liên kết này
          cho Admin #}
          <a class="navbar-item" href="{{ url_for('admin_dashboard') }}"
            >Admin</a
          >
          {% endif %}

          <a class="navbar-item" href="{{ url_for('logout') }}">Logout</a>
          {% else %} {# Hiển thị cho người dùng chưa đăng nhập #}
          <a class="navbar-item" href="{{ url_for('login') }}">Login</a>
          <a class="navbar-item" href="{{ url_for('register') }}">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, msg in messages %}
        <div
          class="notification is-{{ 'info' if category=='info' else ('success' if category=='success' else ('danger' if category=='danger' else 'warning')) }}"
        >
          {{ msg }}
        </div>
        {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
      </div>
    </section>
  </body>
</html>
