{% extends "base.html" %}
{% block content %}
<h2 class="title">Change password</h2>
<form method="post">
  <div class="field"><label class="label">Old password</label>
    <div class="control"><input class="input" type="password" name="old_password" required></div></div>
  <div class="field"><label class="label">New password</label>
    <div class="control"><input class="input" type="password" name="new_password" required></div></div>
  <div class="control"><button class="button is-primary">Change</button></div>
</form>
{% endblock %}
