{% extends "base.html" %}
{% block content %}
<h2 class="title">Login</h2>
<form method="post">
  <div class="field"><label class="label">Login as</label>
    <div class="control">
      <div class="select"><select name="who">
        <option value="customer">Customer</option>
        <option value="admin">Admin</option>
      </select></div>
    </div>
  </div>

  <div class="field"><label class="label">Username</label>
    <div class="control"><input class="input" name="username" required></div></div>
  <div class="field"><label class="label">Password</label>
    <div class="control"><input class="input" type="password" name="password" required></div></div>
  <div class="control"><button class="button is-primary">Login</button></div>
</form>
{% endblock %}
